.color_bar_container{
    margin: 24px auto 24px auto;
    position: relative;
    height: 48px;
    width: 800px;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 0.5rem;
}
.color_bar_main{
    height: 48px;
    width: 800px;
}
.color_bar_main > .button{
    height: 60px;
    width: 16px;
    margin-top: -6px;
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
    border: 0px none transparent;
    z-index: 2;
    border-radius: 0.5rem;
}
.color_bar_container > button{
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
    border: 0px none transparent;
    z-index: 2;
    border-radius: 0.5rem;
}
.color_bar_container > .button{
    height: 60px;
    width: 16px;
    margin-top: -6px;
}
.color_bar_container > .button_1{
    position: absolute;
    left: 0px;
}
.color_bar_container > .button_2{
    position: absolute;
    right: 0px;
}